<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" #modal style="display: none;">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="flex flex-col">
          <ng-icon name="heroXMarkSolid" class=" cursor-pointer z-50 self-end text-gray-900" (click)="close()"
                   size="1.3rem"></ng-icon>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
