<nav class="fixed top-0 left-52 right-0 z-10 h-16 flex items-center justify-end bg-white dark:bg-[#1b1c20]">
  <div class="hidden lg:flex w-full pr-6">
    <div class="w-1/2 h-full hidden lg:flex items-center pl-6 pr-24">

      <div class="relative w-full">
        <!-- Menu Item?? -->
      </div>
    </div>

    <div class="w-1/2 flex">
      <div class="w-full flex items-center pl-8 justify-end">
        <div class="flex items-center relative cursor-pointer">
          <div class="rounded-full">
            <app-context-menu #profileMenuSelector [menu]="profileMenu"
                              [elementId]="'profile-menu'"
                              [triggerId]="'profile-menu-trigger'"
                              [isChecked]="darkMode">
            </app-context-menu>
            <div class="relative">
              <img class="rounded-full h-10 w-10 object-cover"
                   src="https://cdn.discordapp.com/avatars/161191902866046977/fb87cd639c013a3b6c8fdf1ec1c53094.png"
                   alt="avatar"/>
              <div
                class="w-2 h-2 rounded-full bg-green-400 border border-white absolute inset-0 mb-0 mr-0 m-auto"></div>
            </div>
          </div>
          <p class="text-gray-800 dark:text-gray-100 text-sm mx-3">
            Shade</p>
          <div id="profile-menu-trigger" class="cursor-pointer text-gray-600 mt-1">
            <ng-icon [name]="'heroChevronDownSolid'" class="dark:text-gray-100" size="1rem"
                     (click)="profileMenuSelector.triggerMenu()"></ng-icon>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
