<div class="container mx-auto flex justify-between">

  <div class="w-1/5">
    <div class="flex items-center justify-center pr-6">
      <div class="md:w-96 rounded-md shadow-md p-5 bg-gray-50 dark:bg-[#111214]">
        <h1 class="pb-7 text-gray-800 font-bold text-lg dark:text-white">Settings</h1>
        <div class="flex items-center justify-between">
          <div class="flex items-center text-gray-600 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-50">
            <ng-icon [name]="'heroUserCircleSolid'" size="1.3rem"></ng-icon>
            <button class="text-sm font-medium pl-3">Profile</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="w-4/5">
    <app-edit-profile></app-edit-profile>
  </div>
</div>
