<div
  class="min-w-full mx-auto bg-white dark:bg-[#0b0b0e] shadow rounded max-h-dvh overflow-y-auto dark:border-y-[#1b1c20] border-t"
     style="height: calc(100vh - 10rem);" (scroll)="onScroll($event)">

  <table class="min-w-full bg-transparent dark:bg-transparent ">
    <thead class="sticky top-0 bg-white dark:bg-[#0b0b0e]">
    <tr class="h-14 border-gray-300 dark:border-gray-700">
      <th
        class="w-10 whitespace-nowrap pl-8 text-gray-600 dark:text-gray-400 font-normal text-left text-sm tracking-normal">
        <input (change)="onCheckboxChange($event, null)" [checked]="selectAll" placeholder="check box" type="checkbox"
               class="cursor-pointer w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 focus:outline-none focus:ring-2  focus:ring-gray-400"/>
      </th>
      <ng-container *ngFor="let header of headers">
        <th *ngIf="header.shown" role="columnheader"
            class="w-28 whitespace-nowrap text-gray-600 dark:text-gray-400 font-normal text-left text-sm tracking-normal">
          {{ header.name }}
        </th>
      </ng-container>
    </tr>
    <tr class="w-full h-14 border-gray-300 dark:border-y-[#131317] border-b py-8">
      <th class="pl-8 text-gray-600 dark:text-gray-400 font-normal text-left text-sm tracking-normal leading-4">
      </th>
      <ng-container *ngFor="let header of headers">
        <th *ngIf="header.shown" role="columnheader"
            class="w-28 whitespace-nowrap text-gray-600 dark:text-gray-400 font-normal text-left text-sm tracking-normal">
          <div class="flex flex-row" *ngIf="header.filter.searchable; else searchDefaultTemplate">
            <ng-container *ngIf="header.filter.searchType == SearchType.TEXT; else enumFilerTemplate">
              <input #fieldInput (input)="onTextChange(header.id, fieldInput.value)" [id]="header.id + 'FilterId'"
                     tabindex="0" aria-label="Enter first name" type="text"
                     class="border border-gray-300 dark:border-[#1d1d1d] py-1.5 pl-2 w-32 shadow-sm rounded text-sm
                 focus:outline-none dark:bg-[#111214] bg-gray-200 text-gray-800 dark:text-white"
                     placeholder="{{header.name}}"/>
            </ng-container>
            <ng-template #enumFilerTemplate>
              <input [(ngModel)]="header.filter.value" [id]="header.id + 'FilterId'"
                     tabindex="0" aria-label="Enter first name" type="text"
                     class="border border-gray-300 dark:border-[#1d1d1d] py-1.5 pl-2 w-32 shadow-sm rounded text-sm
                 focus:outline-none dark:bg-[#111214] bg-gray-200 text-gray-800 dark:text-white" disabled
                     placeholder="{{header.name}}"/>
            </ng-template>
            <div class="flex flex-row pl-2" *ngIf="header.filter.searchType == SearchType.ENUM">
              <button (click)="menus.triggerMenu()">
                <ng-icon class="text-[#3d3d3d" [id]="header.id + 'FilterTriggerId'" [name]="'heroFunnelSolid'"
                         size="1rem"></ng-icon>
              </button>
              <app-checked-context-menu #menus
                                        (checkedRowsEmitter)="onEnumFilter(header.id, $event);
                                        header.filter.value = contextMenuToInputField(menus.checkedRows);"
                                        [key]="header.id"
                                        [elementId]="header.id + 'FilterMenuId'"
                                        [triggerId]="header.id + 'FilterTriggerId'"
                                        [items]="header.filter.enum!"
                                        [translateKey]="header.filter.translateKey!"
                                        [position]="'ml-2'">
              </app-checked-context-menu>
            </div>
          </div>
          <ng-template #searchDefaultTemplate>
            <div class="pl-8 text-gray-600 dark:text-gray-400 font-normal text-left text-sm tracking-normal leading-4">
            </div>
          </ng-template>
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let row of data">
      <tr class="h-16 border-gray-300 dark:border-[#131317] border-b">
        <td
          class="pl-8 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">
          <input [checked]="selectAll" (change)="onCheckboxChange($event, row)"
                 placeholder="check box"
                 type="checkbox"
                 class="cursor-pointer w-5 h-5 border rounded border-gray-400 bg-white
                 dark:bg-gray-800 focus:outline-none focus:ring-2  focus:ring-gray-400"/>
        </td>
        <ng-container *ngFor="let header of headers">
          <td *ngIf="header.shown"
              class="text-sm whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
            <ng-container *ngIf="header?.filter?.searchType == SearchType.ENUM; else defaultCell">
              {{ header.filter.translateKey + row[header.id]  | translate }}
            </ng-container>
            <ng-template #defaultCell>
              {{ row[header.id] }}
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="flex flex-row p-4 justify-end bg-white dark:bg-[#0b0b0e] absolute bottom-0 w-full left-0">
    <p class="text-base text-gray-600 dark:text-gray-400"
       id="page-view">{{ ((pageNumber + 1) * numberOfElements) - (pageSize - 1) }}
      - {{ (pageNumber + 1) * pageSize }} of {{ totalElements }}</p>
    <div class="flex flex-row justify-center">
      <button
        class="text-gray-600 dark:text-gray-400 ml-2 border-transparent border cursor-pointer rounded focus:outline-none focus:ring-2 focus:ring-gray-500 "
        aria-label="Goto previous page " role="button">
        <ng-icon [name]="'heroChevronLeftSolid'" size="1rem"></ng-icon>
      </button>
      <button
        class="text-gray-600 dark:text-gray-400 border-transparent border rounded focus:outline-none focus:ring-2 focus:ring-gray-500 cursor-pointer"
        aria-label="goto next page" role="button">
        <ng-icon [name]="'heroChevronRightSolid'" size="1rem"></ng-icon>
      </button>
    </div>
  </div>
</div>
